body {
    margin: 0;
    padding: 0;
}
.icon {
    width: 20px;
    height: 20px;
    background-color: pink;
    position: absolute;
    left: 800px;
    top: 300px;
}
.box {
    border: 1px solid #ecf;
    position: absolute;
}